body {
    color: white;
    margin: 0;
}

#video-bg {
    position: fixed;
    z-index: -10;
}

/* Main container GRID formatting */
.page-wrapper {
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-template-rows: 350px 1fr;
}

.nav-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Navigation Styling */
.nav-items {
    width: 165px;
    background-color: transparent;
    transition: 2s ease-in-out;
    height: 100%;
    box-shadow: 2px 1px 6px -2px;
    position: fixed;
}

.nav-items:hover {
    background-color: gray;
}

.fa-angles-right {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.list-items li {
    list-style: none;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 20px
}

.list-items {
    display: grid;
    grid-template-columns: 20px 1fr;
}

.fa-solid {
    font-size: 20px;
    text-align: center;
}

/* Image Styling */
.site-logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
}

/* Header Styling */
.header {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    transition: 2s ease-in-out;
    margin: 0;
}

.header:hover {
    background-color: black;
    box-shadow: 1px 3px 6px -3px;
}

.box-1 {
    text-align: center;
    box-shadow: 0px 6px 6px -6px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 40px;
}

.site-name {
    margin-top: 0;
    margin-bottom: 20px;
}

.box-2 {
    text-align: center;
}

/* Main Styling */
.main {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    gap: 150px;
}

.house-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.house-logo {
    height: 200px;
    width: auto;
}

.house-box {
    background-color: blueviolet;
}

.minimal-logo {
    height: 350px;
    width: auto;
}